@import url("footer.css");
@import url("sidebar.css");

#entries {
    position: absolute;
    left: 150px;
    top: 0px;
    width: calc(100% - 150px);
    background-color: #F36;
}

.entry {
    background-color: #EA8;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.entry pre {
    background-color: #FDFDFD;
    padding: 3px;
}

.entry a {
    text-decoration: none;
    color: #A00;
}

.entry a:hover {
    text-decoration: underline;
}

.entry hr {
    border: thin outset #CCC;
}
