# HTAccess file. General redirecting to error pages.
ErrorDocument 404 viewpost.php?post=error_loading
ErrorDocument 303 viewpost.php?post=error_loading
ErrorDocument 500 viewpost.php?post=error_loading