#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    color: white;
    background-color: rgba(21, 21, 21, 0.7);
    text-align: center;
    overflow: hidden;
    z-index: -1;
}

#username {
    margin-top: 70px;
    margin-bottom: 20px;
    font-size: 48px;
    background: none !important;
}

#description {
    font-size: 24px;
    margin-top: 10px;
}

#follow {
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
	display: inline-block;
}

#report {
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
	display: inline-block;
}

#userjoined {
    position: absolute;
    font-size: 15px;
    margin: 15px;
    top: 10px;
}

#userjoined h3{
    font-style: bold;
}

#collections {
    margin-top: 400px;
    padding: 20px !important;
    margin-bottom: 80px;
    transition: height 500ms;
}

#user-pane-left {
    position: absolute;
    margin-right: 470px;
    width: 470px;
    height: 335px;
    text-align: right;
    line-height: 335px;
    padding-right: 0;
}

#overlay-inner {
    width: 980px;
    margin: auto;
    height: 100%;
}

#user-pane-right {
    position: absolute;
    margin-left: 470px;
    width: 470px;
    height: 335px;
    text-align: left;
}

.main-inner {
    padding: 10px;
    transition: height 500ms;
}

.img-preview {
    width: 100% !important; 
    max-width: 150px; 
    height: auto !important; 
    border: 3px solid rgb(101, 149, 147); 
    margin-right: 80px;
}

.loading-ajax {
    text-align: center;
}
