#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 335px;
    color: white;
    background-color: rgba(21, 21, 21, 0.7);
    text-align: center;
    overflow: hidden;
    z-index: -1;
}

#username {
    margin-top: 70px;
    font-size: 48px;
    background: none !important;
}

#description {
    font-size: 24px;
    margin-top: 10px;
    cursor: pointer;
}

#follow {
    font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
}

#report {
    font-style: italic;
    font-size: 16px;
    margin-left: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 150px;
}

#userjoined {
    position: absolute;
    font-size: 15px;
    margin: 15px;
    top: 10px;
}

#userjoined h3{
    font-style: bold;
}

#collections {
    margin-top: 400px;
    padding: 20px !important;
    margin-bottom: 80px;
    transition: height 500ms;
}

#user-pane-left {
    position: absolute;
    margin-right: 470px;
    width: 470px;
    height: 335px;
    text-align: right;
    line-height: 335px;
    padding-right: 0;
}

#overlay-inner {
    width: 980px;
    margin: auto;
    height: 100%;
}

#user-pane-right {
    position: absolute;
    margin-left: 470px;
    width: 470px;
    height: 335px;
    text-align: left;
}

.main-inner {
    padding: 10px;
    transition: height 500ms;
}

.user-avatar.x100 {
    margin-top: 70px;
    width: 200px !important;
    height: 200px !important;
    min-height: 200px !important;
    padding-right: 80px;
}

.loading-ajax {
    text-align: center;
}

/* files */
.file {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-table;
}

.file img {
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.2);
    transition: background 250ms;
}

.file:hover img {
    background: transparent
}
