.footer {
    background-color: #ececec;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    color: #5f5f5f;
    text-align: center;
    margin-top: 20px;
    min-height: 150px;
    height: 120px;
    width: 100%;
}

.footer #footer-links {
    display:inline-block;
    width:150px;
    padding:25px;
    clear:both;
    text-align:left;
}

.footer #footer-about {
    display:inline-block;
    width:calc(100%-100px);
    padding:25px;
    clear:both;
    text-align:left;
}

.footer #footer-theme-toggler {
    display:inline-block;
    padding:25px;
    clear:both;
    text-align:center;
    vertical-align:middle;
}

.footer p {
    clear: both;
    font-size: 11px;
    margin: 0;
    padding: 1em 0 0;
}

.printfooter {
    display: none;
}
