.header {
    box-shadow:0 0 5px rgba(0, 0, 0, 0.3);
}

#login-popup {
    position: absolute;
    top: 50px;
    padding: 10px;
    color: white;
    background-color: #659593;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 1px 1px #ccc;
}

#login-popup span {
    margin: 3px;
}

#login-popup input[type='submit'] {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 6px;
    float: left;
}

#login-popup input[type='text'],
#login-popup input[type='password'] {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 18px;
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 3px;
}

.arrow {
    position: absolute;
    left: 165px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #659593;
}

#login-popup input {
    display: block;
    margin: 3px;
}

#login-popup input[type='submit'] {
    float: right;
}

.logo-name {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px
}

.new-dropdown-symbol {
	display: inline-block;
	width: 23px;
	text-align: center;
}

#navbar-browse, #navbar-new-button {
	width: 80px;
}

#navbar-browse::after, #navbar-new-button::after {
	content: " ";
	display: block;
	float: right;
	width: 10px;
	height: 10px;
	border-top: 5px solid white;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	box-sizing: border-box;
	margin-top: 16px;
	position: relative;
	right: 10px;
}

ul.navbar-dropdown {
	height: 0;
	transition: all 250ms;
	list-style-type: none;
	background-color: rgb(101, 149, 147);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow:0 0 8px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}

#os-new ul.navbar-dropdown {
	position: absolute;
}

ul.navbar-dropdown li {
	display: block;
	float: none;
}

#browse-li:hover #navbar-browse, #os-new:hover #navbar-new-button {
	background-color: #476866;
}

#browse-li:hover ul, #os-new:hover ul {
	height: 105px;
}

.header .search {
	line-height: 35px;
	margin-left: 10px;
	vertical-align: middle;
}

.header .search input {
	border-radius: 0.5em;
	border: none;
	/* padding: 3px; */
	padding-left: 0.4em;
	/* background-image: url(/assets/images/search.png); */
	background-repeat: no-repeat;
	background-size: contain;
	width: 150px;
	color: grey;
	line-height: 22px;
	font-size: 14px;
	font-family: sans-serif !important;
	height: 22px;
	margin-top: 6px;
}

.search-modal-overlay {
	background: transparent;
	position: fixed;
	top: 35px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 10000;
	display: none;
}

.search-popup {
	display: none;
	position: fixed;
	top: 35px;
	left: 20%;
	width: 60%;
	background: #466765;
	color: white;
	padding: 1em;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	z-index: 99999;
	margin-top: 19px;
}

.search-popup .search-message {
	margin-top: 0;
}

.search-popup a {
	color: #DCE7E7;
}

.search-popup .search-links {
	text-align: center;
}

.search-popup .result {
	margin: 0;
}

.search-popup .result:last-child {
	border-bottom: 1px solid #304746;
}

.search-popup .symbol.loading {
	margin-right: auto;
	margin-left: auto;
}
