@media screen and (max-width: 920px) {
    .mobile-nav {
        display: block !important;
    }
    .header .container  {
        display: none;
    }
    .header  {
        margin: 0px;
        padding: 0px;
    }
    
    .select.mobile-nav {
        display: none;
    }
    
    .select.mobile-nav:after {
        content: '☰';
    }
}
