/* content -- to make finding & organizing stuff easier
	1. global
	2. main page/similar
	3. uploads
	4. blog
	5. report form
*/

/* add !important to everything that needs to be overwritten */

/* global -> all pages */
body {
	background-color: #282828 !important;
	display: inherit !important;
}

.footer {
	background-color: #151515 !important;
	color: #E8E8E8 !important;
}

/* brighter color for links ----> more friendly for dark theme */
.main-inner a { /* Exclude the navigation bar */
	color: #A2E3DF !important;
}
.footer a { /* Yet include the footer! */
	color: #A2E3DF !important;
}

/* main page/similar */
.welcome .symbol {
	color: rgb(40, 40, 40) !important;
}

.themebg {
	background-color: #282828;
}

.container.main {
	color: white !important;
}

h1.firstHeading, h2 {
	border-bottom: solid 1px white !important;
}

#opensprites-heading {
	color:#fff;
}

.box > h1 {
	border-top: none !important;
}

.box {
	background: #595959 !important;
	border: 1px solid #595959 !important;
	border-top: none !important;
	-webkit-box-shadow: 0 2px 3px #0D0D0D !important;
    -moz-box-shadow: 0 2px 3px #0D0D0D !important;
    -o-box-shadow: 0 2px 3px #0D0D0D !important;
    box-shadow: 0 2px 3px #0D0D0D !important;
}

.box-content {
	background: #282828 !important;
	border-top: none !important;
	color:#fff;
}

/* the 'sort by' buttons */
.toggleset button {
	background: #595959; !important;
}

.toggleset button:hover {
	background: #8E8C8C; !important;
}

.toggleset button.selected {
	background: #8E8C8C; !important;
}

select {
	background-color: black !important;
	color: grey !important;
}

#cats {
	-webkit-filter: brightness(0%) !important;
	-moz-filter: brightness(0%) !important;
	-o-filter: brightness(0%) !important;
	filter: brightness(0%) !important;
}

.btn {
	color: grey !important;
	background-color: black !important;
}

.welcome {
	background-color: #595959 !important;
}

/* upload */

#upload-method-select img.method:hover {
	box-shadow: 5px 5px 10px black !important;
}

#upload-area {
	background-color: rgb(76, 76, 76) !important;
}

#upload-status {
	background: rgba(150, 150, 150, 0.5) !important;
}

.upload-message {
	color: #2A2A2A !important;
}

#select-button, #upload-button, #url-button {
	background: rgba(61, 61, 61, 0.5) !important;
}

#select-button:hover, #upload-button:hover, #url-button:hover {
  background-color: gray !important;
}

/* blog */
div#entries div.entry h1.entry-header a {
    color: rgb(205, 205, 205) !important;
}

div#entries div.entry pre.entry-contents {
    background-color: #121111 !important;
    color: white !important;
    padding: 13px;
    border-radius: 20px;
}

div#entries hr {
    margin-top: 60px;
}

div#entries hr:last-child {
    display: none;
}

/* report form */
#report_details {
	background-color:#232323;
	color:#eee;
}

