/*
    EXTENDS DARK.CSS BUT CHANGES GREEN TO ORANGE
*/

/*HOMEPAGE*/
.file {
    border: 3px solid #EDB959 !important;
}

/*OTHER STUFF*/
.main-inner a {
    color: #EDB959 !important;
}
.footer a{
    color: #EDB959 !important;
}
.header {
    background-color:#F9B332 !important;
}
.assets-list::-webkit-scrollbar-thumb {
    background: #EDB959 !important;
}
a {
    color: #EDB959 !important;
}
a:visited {
    color: #EDB959 !important;
}

/*NAVBAR*/
/*MOST BROWSERS, CHROME, IE, OPERA, SAFARI*/
::selection {
    background-color: #D09830 !important;
}
/*FIREFOX*/
::-moz-selection {
    background-color: #D09830 !important;
}