/*
    EXTENDS DARK.CSS BUT CHANGES GREEN TO ORANGE
*/

/*HOMEPAGE*/
.file {
    border: 3px solid #EDB959 !important;
}

/*OTHER STUFF*/
.main-inner a {
    color: #EDB959 !important;
}
.footer a{
    color: #EDB959 !important;
}
.header {
    background-color:#F9B332;
}
.assets-list::-webkit-scrollbar-thumb {
    background: #EDB959;
}