/*html body img {
    height: 100px;
    float: left;
}*/

body {
	display: inherit !important;
}

.themebg {
	background-color: white;
}

.footer-select {
	background-color: #D5D5D5 !important;
	color: grey !important;
}
