html body img {
    height: 100px;
    float: left;
    display: none;
}

body {
    background-color: #FAC564 ;
    /* A nice subtle colour */
    display: inherit;
}

.footer {
    background-color: #663300 ;
    color: #FFCC00 ;
}

/* links */

.main-inner a {
    /* Exclude the navigation bar */
    color: #663300 ;
}

.footer a {
    /* Yet include the footer! */
    color: #B26B00 ;
}

/* main page/similar */

.welcome .symbol {
    color: #38311B;
}

.themebg {
    background-color: #CC6600;
}

.container.main {
    color: white ;
}

h1.firstHeading, h2 {
    border-bottom: solid 1px white ;
}

#opensprites-heading {
    color: #fff;
}

.box > h1 {
    border-top: none ;
}

.box {
    background: #A35200 ;
    border: 1px solid #595959 ;
    border-top: none ;
    -webkit-box-shadow: 0 2px 3px #2E1F00 ;
    -moz-box-shadow: 0 2px 3px #2E1F00 ;
    -o-box-shadow: 0 2px 3px #2E1F00 ;
    box-shadow: 0 2px 3px #2E1F00 ;
}

.box-content {
    background: #B26B00 ;
    border-top: none ;
    color: #fff;
}

/* the 'sort by' buttons */

.toggleset button {
    background: #B28F00;
}

.toggleset button:hover {
    background: #8E7200;
}

.toggleset button.selected {
    background: #8E7200;
}

select {
    background-color: black ;
    color: grey ;
}

#cats {
    -webkit-filter: brightness(0%) ;
    -moz-filter: brightness(0%) ;
    -o-filter: brightness(0%) ;
    filter: brightness(0%) ;
}

.btn {
    color: white ;
    background-color: #B26B00 ;
}

.welcome {
    background-color: #595959 ;
}

/* upload */

#upload-method-select img.method:hover {
    box-shadow: 5px 5px 10px black ;
}

#upload-area {
    background-color: #b89300;
}

#upload-status {
    background-color: #a38800;
}

.upload-message {
    color: #140A00 ;
}

#select-button, #upload-button, #url-button {
    background: rgba(88, 96, 0, 0.84) ;
}

#select-button:hover, #upload-button:hover, #url-button:hover {
    background-color: brown ;
}

/* blog */

div#entries div.entry h1.entry-header a {
    color: rgb(255, 204, 0) ;
}

div#entries div.entry pre.entry-contents {
    background-color: #0A0500 ;
    color: white ;
    padding: 13px;
    border-radius: 21px;
}

div#entries hr {
    margin-top: 60px;
}

div#entries hr:last-child {
    display: none;
}

/* report form */

#report_details {
    background-color: #331A00;
    color: #FFFFCC;
}

div.welcome.info {
    background-color: #C9A83A;
}

/*html body {
    background-color: #c99700;
} This line changing background colour overrides the one at the top */

div.box h1 {
    background-color: #b88b06;
}

select.footer-select {
    background-color: #a3a302;
}

h2.centered-heading {
    color: #574d0b;
}

#about p a {
    color: #a82a19;
    text-decoration: underline;
}

#about p {
    color: #262007;
}

p.welcome-text {
    color: #3D351A;
}

h2.welcome-title {
    color: #38311B;
}

div.header {
    color: #fff200;
    background-color: #F5A133;
}

.header li a:hover:not(.search-link), .header li span:hover:not(.search-link), #userfcttoggle.open {
    background-color: #ED7600 ;
}

#browse-li:hover #navbar-browse, #os-new:hover #navbar-new-button {
    background-color: #ED7600 ;
}

a.scratch {
    color: #ebc015;
}

div.sortby.toggleset {
    color: #000000;
}

div.symbol.warning {
    color: #ff0000;
}

button.selected {
    color: #e6e600;
    background-color: #6b4000;
}

div.container.main {
    border-style: none;
    border-width: 1px;
}

#search-input {
    color: #e8d503;
    background-color: #EBEBEB;
}

div.search-popup {
    color: #403501;
    background-color: #998000;
}

button.btn.blue {
    background-color: #7a6600;
}

a.search-link {
    color: #ffc003;
}

button.btn.orange {
    color: #f5cf11;
    background-color: #756307;
}

span.symbol.plus-circle {
    color: #d8f04d;
}

li.last a {
    color: #eeff00;
}

a.logged-in-user {
    color: #eeff00;
}

#navbar-new-button {
    color: #eeff00;
    border-color: #9e7e00;
}

ul.left li a {
    color: #eeff00;
}

pre.entry-contents {
    background-color: #875a00;
    color: #ffa200;
}

#entries hr {
    color: #000000;
    background-color: #000000;
    border-color: #000000;
}

ul.navbar-dropdown li a {
    color: #4d4d00;
    background-color: #b37304;
}

#body-content {
    background-color: #b3aa00;
}

#body {
    background-color: #947702;
}

#wrapper {
    background-color: #6e6500;
}

div.footer {
    background-color: #c2b204;
}

html {
    background-color: #bdb404;
}

input.text {
    background-color: #756f00;
}

a.popupButton.button {
    background-color: #a69000;
}

ul.channels.tabs {
    background-color: #786400;
}

a.newtopic.channel {
    background-color: #c95e00;
}

div.col-replies span a {
    color: #704c04;
}

#conversationTitle input {
    background-color: #756c06;
}

span.allowedList.action {
    background-color: #9e8900;
    color: #000000;
}

div.area {
    background-color: #ab9400;
}

div.postBody textarea {
    background-color: #b89900;
}

div.postHeader {
    background-color: #a88c00;
}

div.editButtons {
    background-color: #8c6902;
}

a.button.big.discardDraft {
    background-color: #a3a308;
}

a.channel.channel-1 {
    background-color: #b88606;
}

#control-markAllAsRead {
    background-color: #8f7200;
}

#control-markListedAsRead {
    background-color: #8f7200;
}

li.item-markListedAsRead li a {
    background-color: #8f7200;
}

ul.popupMenu {
    background-color: #5e4c02;
}

#url-input {
    background-color: #5e4e00;
}

#collection-name {
    background-color: #9e7100;
}

div.sheetBody {
    background-color: #695505;
}

div.sheetContent h3 {
    background-color: #b1bd06;
}

div.sheet.active {
    background-color: #8f5804;
}

div.box-content.assets-list {
    background-color: #fad903;
}

a.btn {
    background-color: #756500;
}

div.box-content {
    background-color: #d4b800;
}

div.box {
    background-color: #666100;
}

h1.entry-header span {
    color: #730202;
}

#footer-about {
    color: #000000;
}

#footer-theme-toggler p {
    color: #000000;
}

#footer-links {
    color: #a62aa6;
}

ul li a {
    color: #393d01;
}

