#upload-method-select {
    height: 500px;
}

img.method {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    width: 280px;
    opacity: 1;
    transition: opacity 250ms;
}

img.method:hover {
    cursor: pointer;
    opacity: 0.8;
}
