img.method {
    transition: opacity 250ms;
    opacity: 0.5;
    margin-left: 10px;
    margin-right: 10px;
    width: 390px;
    border-radius: 10px;
}

img.method:hover {
    opacity: 1;
    cursor: pointer;
}
