ErrorDocument 404 /404.php
ErrorDocument 403 /403.php

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on
php_value error_reporting -1

RewriteEngine On

# user pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^users/([^/]+)$ /users/$1/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^users/([^/]+)/$ users/index.php?id=$1 [QSA]

# file pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^uploads/([^/]+)$ uploads/index.php?file=$1 [QSA]

# upload is 3 big
RewriteCond %{REQUEST_METHOD} =POST
RewriteCond %{HTTP:Content-Length}%{CONTENT_LENGTH} >8388608
RewriteRule .* /upload/?error=toobig [R,NC]