#login-popup {
	position:absolute;
	top: 50px;
	padding: 20px;
	background-color: #659593;
	color: white;
	border-radius: 10px;
	z-index: -1;
	box-shadow: 0 1px 1px #ccc;
}

.arrow {
	position: absolute;
	left: 165px;
	top: -10px;
	
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid #659593;
}

#login-popup input {
	display:block;
	margin:3px;
}

#login-popup input[type='submit'] {
	float:right;
}
