#login-popup {
    position: absolute;
    top: 50px;
    padding: 10px;
    color: white;
    background-color: #659593;
    border-radius: 10px;
    z-index: -1;
    box-shadow: 0 1px 1px #ccc;
}

#login-popup span {
    margin: 3px;
}

#login-popup input[type='submit'] {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 6px;
    float: left;
}

#login-popup input[type='text'],
#login-popup input[type='password'] {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    height: 18px;
    margin-bottom: 9px;
    border-radius: 3px;
    border: 1px solid #ccc;
    padding: 3px;
}

.arrow {
    position: absolute;
    left: 165px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #659593;
}

#login-popup input {
    display: block;
    margin: 3px;
}

#login-popup input[type='submit'] {
    float: right;
}

.logo-name {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px
}

.navbar-upload .upload-icon {
    vertical-align: middle;
    float: left;
    margin-top: 10px;
    margin-right: 0.5em;
}

#navbar-browse {
	width: 80px;
}

#navbar-browse::after {
	content: " ";
	display: block;
	float: right;
	width: 10px;
	height: 10px;
	border-top: 5px solid white;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	box-sizing: border-box;
	margin-top: 16px;
	position: relative;
	right: 10px;
}

ul.navbar-dropdown {
	height: 0;
	transition: all 250ms;
	list-style-type: none;
	background-color: rgb(101, 149, 147);
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	overflow: hidden;
}

ul.navbar-dropdown li {
	display: block;
	float: none;
}

#browse-li:hover #navbar-browse {
	background-color: #476866;
}

#browse-li:hover ul {
	height: 105px;
}

.header .search {
	line-height: 35px;
	margin-left: 10px;
	vertical-align: middle;
}

.header .search input {
	border-radius: 0.5em;
	border: none;
	padding: 3px;
	/*
	background-image: url(/assets/images/search.png);
	background-repeat: no-repeat;
	background-size: contain;
	*/
	width: 200px;
	color: grey;
}
