#login-popup {
	position:absolute;
	top: 0;
	padding: 10px;
	background-color: #659593;
	color: white;
	border-radius: 10px;
	z-index: -1;
	padding-top: 45px;
	box-shadow: 0 1px 1px #ccc;
}

#login-popup input {
	display:block;
	margin:3px;
}

#login-popup input[type='submit'] {
	float:right;
}
