#sidebar {
    width:       140px;
    min-height:  100%;
    position:    fixed;
    left:        0;
    top:         0;
    padding:     5px;
    font-family: monospace;
}

#entries {
    position: absolute;
    left:     150px;
}