@import url("footer.css");

#entries {
    position: absolute;
    left: 150px;
    top: 0px;
    width: calc(100% - 150px);
    background-color: #F36;
}

.entry {
    font-family: Georgia;
    background-color: #EA8;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.entry pre {
    font-family: Monaco, Courier, monospace;
    background-color: #FDFDFD;
    padding: 3px;
}

.entry a {
    text-decoration: none;
    color: #A00;
}

.entry a:hover {
    text-decoration: underline;
}

.entry hr {
    border: thin outset #CCC;
}

#sidebar {
    width: 140px;
    background-color: #F88;
    color: #333;
    min-height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 5px;
    font-family: monospace;
}

#sidebar a {
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}