#search-bar-input {
	width: 98%;
	border-radius: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	font-size: 1.2em;
	box-shadow: inset 0px 0px 3px gray;
}

.sort.toggleset, .direction.toggleset, .place.toggleset, .filter.toggleset, .search-button-label {
	display: table-cell;
}

#search-buttonsets {
	display: table;
	border: 0;
	border-spacing: 1em;
    border-collapse: separate;
}

#search-buttonsets .search-button-row {
	display: table-row;
}

.search-results {
	border-top: 1px solid #659593;
}

.search-results .result {
	border-bottom: 1px solid #659593;
	border-top: 1px solid #659593;
	padding: 0.5em 0;
	overflow: auto;
}

.search-button {
	display: block;
	background: #659593;
	box-shadow: inset 2px 2px 3px #88AEAC;
	width: 100%;
	text-align: center;
	border: 1px solid #88AEAC;
	border-radius: 1em;
	margin: 1em 0;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
}

.search-loading .symbol.loading {
	margin-right: auto;
	margin-left: auto;
}

.search-preview {
	max-width: 100px;
	max-height: 100px;
	min-height: 50px;
	min-width: 50px;
	background: #191919;
	float: left;
	margin-right: 1em;
}

.search-results.loading {
	opacity: 0.5;
}

.search-results {
	opacity: 1;
	transition: opacity 0.2s;
}

#advanced-options {
	padding: 1em;
}

.advanced-input {
	width: 50%;
	transition: border 0.2s;
	border: 1px solid black;
	border-radius: 0.2em;
}

.advanced-input.error {
	border: 1px solid red;
}

.advanced-help {
	font-size: 0.8em;
}

.duplicatable .buttons {
	display: inline-block;
}

.duplicatable .buttons::after {
	color: #659593;
	transition: all 0.2s;
	font-size: 1.1em;
	cursor: pointer;
}

.duplicatable .buttons:hover::after {
	color: #8CB0AE;
}

#advanced-options h3 {
	margin-top: 0;
}

#advanced-options .advanced-section {
	margin: 0.2em 0;
	border-top: 1px solid #659593;
}

#advanced-options .advanced-section:last-child {
	margin: 0.2em 0;
	border-bottom: 1px solid #659593;
}