#search-bar-input {
	width: 100%;
	border-radius: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	font-size: 1.2em;
	box-shadow: inset 0px 0px 3px gray;
}

.sort.toggleset, .direction.toggleset, .place.toggleset, .filter.toggleset {
	display: table-cell;
}

#search-buttonsets {
	display: table;
	border: 0;
	border-spacing: 1em;
    border-collapse: separate;
}

#search-buttonsets .search-button-row {
	display: table-row;
}