body {
  font-family: 'Open Sans', sans-serif;
  background: #659593;
  color: white;
  margin: 0;
  padding: 0;
}

#container {
  width: 900px;
  margin: auto;
  padding-top: 10px;
}

* {
  font-weight: normal !important;
  margin-bottom: 0;
}

h1 {
  font-size: 64px;
}

h3 {
  border-bottom: white 1px solid;
  margin-bottom: 5px;
  font-size: 24px;
}
