/* USAGE: <span class='symbol SYMBOLNAME'></span> */
/* get symbolname from below.                     */

@font-face {
    font-family: 'SYMBOL';
    src: url('pictos-web.eot');
    src: local('☺'), url('WebSymbols-Regular.otf') format('opentype'), url('WebSymbols-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol {
    font-family: 'SYMBOL';
}

/* symbols */
.symbol.portrait:after {content: 'a';}
.symbol.landscape:after {content: 'b';}
.symbol.speech:after {content: 'c';}
.symbol.chat:after {content: 'd';}
.symbol.chat-load:after {content: 'e';}
.symbol.facebook:after {content: 'f';}
.symbol.googleplus:after {content: 'g';}
.symbol.back:after {content: 'h';}
.symbol.back-double:after {content: 'i';}
.symbol.arrow-right:after {content: 'j';}
.symbol.twitter:after {content: 'k';}
.symbol.linkedin:after {content: 'l';}
.symbol.vine:after {content: 'm';}
.symbol.list-arrow-right:after {content: 'n';}
.symbol.list-arrow-left:after {content: 'o';}
.symbol.list-bullet:after {content: 'p';}
.symbol.list-number:after {content: 'q';}
.symbol.wifi:after {content: 'r';}
.symbol.skype:after {content: 's';}
.symbol.twitter:after {content: 't';}
.symbol.connection:after {content: 'u';}
.symbol.b:after {content: 'v';} /* any idea what this logo is? */
.symbol.unlocked:after {content: 'w';}
.symbol.locked:after {content: 'x';}
.symbol.youtube:after {content: 'y';}
.symbol.tetris:after {content: 'z';}

.symbol.paperclip:after {content: 'A';}
.symbol.attachment:after {content: 'A';}
.symbol.hotspot:after {content: 'B';}
.symbol.cloud:after {content: 'C';}
.symbol.desktop:after {content: 'D';}
.symbol.folder:after {content: 'F';}
.symbol.code:after {content: 'H';}
.symbol.image:after {content: 'I';}
.symbol.refresh-square {content: 'J';}
.symbol.link:after {content: 'K';}
.symbol.search:after {content: 'L';}
.symbol.video:after {content: 'M';}
.symbol.heart:after {content: 'N';}
.symbol.heart-outline:after {content: 'O';}
.symbol.clock:after {content: 'P';}
.symbol.stickman:after {content: 'Q';}
.symbol.star:after {content: 'R';}
.symbol.settings:after {content: 'S';}
.symbol.font:after {content: 'T';}
.symbol.profile:after {content: 'U';}
.symbol.reload:after {content: 'V';}
.symbol.warning:after {content: 'W';}
.symbol.poweron:after {content: 'X';}
.symbol.box:after {content: 'Z';}

.symbol.benice:after {content: "#";}
.symbol.resize:after {content: "%";}
.symbol.resize-circle:after {content: "&";}
.symbol.x:after {content: "'";}
.symbol.left-arrow-circle:after {content:"(";}
.symbol.right-arrow-circle:after {content: ")"}
.symbol.refresh-circle:after {content: "*";}
.symbol.plus-circle:after {content: "+";}
.symbol.tag:after {content: ",";}
.symbol.minus-circle:after {content: "-";}
.symbol.check:after {content: ".";}
.symbol.check-circle:after {content: "/";}
.symbol.up-arrow-circle:after {content: ":";}
.symbol.down-arrow-circle:after {content: ";";}
.symbol.left-arrow:after {content: "<";}
.symbol.right-arrow:after {content: ">";}
.symbol.location:after {content: "?";}
.symbol.mail:after {content: "@";}
.symbol.up-arrow-small {content: "{";}
.symbol-down-arrow-small {content: "}";}
.symbol.data-transfer {content: "~";}


.symbol.loading {
    display: block;
    width: 1em;
    height: 1.5em;
    overflow: hidden;
    position: relative;
}

.symbol.loading::after {
    font-family: 'SYMBOL';
    content: "01234567";
    position: relative;
    left: 0px;
	animation-name: loading-symbol;
    animation-duration: 1s;
    animation-timing-function: step-end;
    animation-iteration-count: infinite;
}

@keyframes loading-symbol {
	0%     {left: 0px;}
	12.5%  {left: -1em;}
	25%    {left: -2em;}
	37.5%  {left: -3em;}
	50%    {left: -4em;}
	62.5%  {left: -5em;}
	75%    {left: -6em;}
	87.5%  {left: -7em;}
	100%   {left: 0px;}
}