@import url("footer.css");
@import url("sidebar.css");

#entries {
    position: absolute;
    left:     150px;
    top:      0px;
    width:    calc(100% - 150px);
}

.entry {
    font-family:      Georgia;
    background-color: #EAEFB1;
    padding:          10px;
    margin-bottom:    20px;
    margin-top:       20px;
}

.entry pre {
    font-family:      Monaco, Courier, monospace;
    background-color: #FDFDFD;
    padding:          3px;
}

.entry a {
    text-decoration: none;
    color:           #00F;
}

.entry a:hover {
    text-decoration: underline;
}

.entry hr {
    border: thin outset #CCC;
}