.leaving-url {
	font-weight: bold !important;
}

#dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 335px;
    color: white;
    background-color: rgba(21, 21, 21, 0.7);
    text-align: center;
    overflow: hidden;
    z-index: 10;
}

#background-img {
    top: 0;
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
}

#username {
    margin-top: 70px;
    font-size: 48px;
    background: none !important;
}

#description {
    font-size: 24px;
    margin-top: 10px;
}

#location {
	margin: 0;
	padding: 0;
	max-height: 1.4em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#actions-container {
	margin-top: 1em;
	border-top: 1px solid white;
	padding-top: 1em;
}

#actions-container div {
	display: inline-block;
	margin-right: 1em;
	font-style: italic;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
	color: white;
}

#actions-container div a {
    color: white;
    text-decoration: none !important;
}

#userjoined {
    position: absolute;
    font-size: 15px;
    margin: 15px;
    top: 10px;
}

#userjoined h3 {
    font-style: bold;
}

#about {
    margin-top: 400px;
    padding: 20px !important;
    margin-bottom: 80px;
    transition: height 500ms;
    border-radius: 4px;
}

.container.main {
    margin-top: -40px;
    padding: 20px !important;
    margin-bottom: 80px;
    transition: height 500ms;
    border-radius: 4px;
}

#user-pane-left {
    position: absolute;
    margin-right: 470px;
    width: 470px;
    height: 335px;
    text-align: right;
    line-height: 335px;
    padding-right: 0;
}

#overlay-inner {
    width: 980px;
    margin: auto;
    height: 100%;
    z-index: 11;
}

#user-pane-right {
    position: absolute;
    margin-left: 470px;
    width: 470px;
    height: 335px;
    text-align: left;
}

.main-inner {
    padding: 10px;
    transition: height 500ms;
}

.user-avatar.x100 {
    margin-top: 70px;
    width: 200px !important;
    height: 200px !important;
    min-height: 200px !important;
    padding-right: 80px;
}

#change-image {
    position: absolute;
    top: 70px;
    margin-left: 190px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    font-size: 24px;
    line-height: 200px;
    
    cursor: pointer;
    
    opacity: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    transition: 400ms opacity;
}

#change-image:hover {
    opacity: 1;
}

.loading-ajax {
    text-align: center;
}

.content {
    white-space: nowrap;
    overflow-x: scroll;
}
