@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

#upload-area {
	min-height: 500px;
	margin: 1em;
	border-radius: 3em;
	position: relative;
	padding: 5em;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 10em;
	background-color: rgb(231, 255, 254);
}

#upload-area::after {
	clear: both;
}

.upload-message {
	margin-top: 100px;
	text-align: center;
	font-size: 5em;
	font-weight: 300 !important;
	color: #4C7776;
	-webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
}

.upload-message.error {
	color: red;
}

#upload-button-container {
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 5em;
	border-top-left-radius: 0;
	overflow: hidden;
	border: 0px;
	cursor: pointer;
	color: white;
	font-size: 20px;
}

#select-button, #url-button, #upload-button {
	border-right: 0px;
}

#upload-button, #url-button {
	position: relative;
}

#select-button, #upload-button, #url-button {
	background: rgba(101, 149, 147, 0.5);
	transition: background 0.2s;
	padding-left: 1em;
	padding-right: 1em;
	display: inline;
}

#upload-button:hover, #select-button:hover, #url-button:hover {
	background: rgba(101, 149, 147, 0.7);
}

#url-input {
	position: absolute;
	top: 0px;
	left: 0px;
	padding-left: 0.5em;
	font-size: 1.2em;
	width: 100%;
	display: none;
	transition: all 0.2s;
}

#url-input.error {
	background: rgb(255, 100, 100);
}

#upload-status {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	font-size: 1.3em;
	background: rgba(101, 149, 147, 0.5);
	border-radius: 0.5em;
	padding: 0.5em;
}

#upload-status p {
	padding-left: 2em;
	text-align: left;
	padding-top: 2em;
}

#uploadbtn {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.upload-image {
	float: left;
	width: 200px;
	height: 200px;
	background: rgba(101, 149, 147, 0.5);
	border: 2px solid rgb(101, 149, 147);
	border-radius: 1em;
	text-align: left;
	padding: 1em;
	margin: 1em;
	background-size: cover !important;
	background-repeat: no-repeat;
}

.upload-image[data-url] {
	cursor: pointer;
}

.upload-image p:hover {
	background: rgba(0, 0, 0, 0.9);
}

.upload-image[data-url]:hover p {
	background: rgba(0, 0, 0, 1);
}

.upload-image p {
	background: rgba(0, 0, 0, 0.5);
	border-radius: 1em;
	padding: 0.5em;
	overflow: hidden;
	transition: all 0.2s;
	color: white;
	margin-top: 0;
	padding-top: 0;
}

.upload-image.error p {
	background: rgba(100, 0, 0, 0.5);
}

.progress {
	width: 98%;
	height: 1em;
	border-radius: 1em;
	background: rgba(0, 0, 0, 0.5);
}
.progress .bar {
	width: 0%;
	background: rgba(255,255,255, 0.5);
	border-radius: 1em;
	height: 1em;
	text-align: center;
}

#script-select-dialog, #error-dialog {
	background: white;
	color: black;
	position: fixed;
	top: calc(50% - 250px);
	left: calc(50% - 250px);
	width: 500px;
	height: 500px;
	padding: 1em;
	border-radius: 1em;
	display: none;
	z-index: 99999;
}

#error-dialog {
	text-align: center;
}

.modal-bg {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

h3.divider {
	border-top: 1px solid black;
}

#block-container {
	overflow: auto;
	max-height: 400px;
}

.buttons-container {
	display: inline-block;
}

.buttons-container button {
	color: #fff;
    background-color: #659593;
    padding: 5px;
    text-decoration: none;
    transition: all 0.2s;
	border: 1px inset #659593;
}

.buttons-container button:first-child {
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
	margin-left: 1em;
}

.buttons-container button:last-child {
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	margin-right: 1em;
}

.buttons-container button.primary-button {
	background-color: #1177EC;
}

.buttons-container button:hover {
    background-color: #fc9c35;
    text-decoration: none;
}

.buttons-container button:active {
	border: 1px outset #659593;
	box-shadow: inset 2px 2px 5px gray;
}

.customName {
    display: inline;
    width: 50%;
    border-radius: 1em;
    padding-left: 0.5em;
}

a {
    color:#ADECE7;
}
