# engines
RewriteEngine On

# custom 404 error page
ErrorDocument 404 /404.html

# allows php inside javascript
<FilesMatch "*.js">
SetHandler php5-script
</FilesMatch>

# add trailing slash to .php files and remove the .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
