body {
    background-color: #D3EBEB;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 80%;
    background-color: #F5ECEB;
    border-radius: 0.3em;
    opacity: 0.58;
    padding: 0.5em;
}

h1 {
    text-align: center;
    font-family: Josefin Sans;
    font-size: 2.5em;
}

h3 {
    text-align: center;
    font-family: Raleway;
    font-size: 1.5em;
}


p {
    font-family: Noto Sans;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    text-align: justify;
    overflow: hidden;
    white-space: wrap;
}