body {
    background-color: #D3EBEB;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    width: 80%;
    background-color: #F5ECEB;
    border-radius: 0.3em;
    opacity: 0.58;
    padding: 0.5em;
}

#maintitle {
    margin-left: auto;
    margin-right: auto;
    width: 22%;
    background-color: black;
    border-radius: 0.3em;
    opacity: 0.58;
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.01em;
    padding-top: 0.01em;
}

#maintitle p {
    text-align: center;
    color: white;
    font-family: Josefin Sans;
    margin-top: 0em;
}

#maintitle p a {
    text-decoration: none;
    color: white;
    font-family: Josefin Sans;
    font-size: 1.2em;
    margin-top: 0em;
}

#maintitle p a:hover {
    color: green;
}

h3 {
    text-align: center;
    font-family: Raleway;
    font-size: 1.5em;
}


.content p {
    font-family: Noto Sans;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1em;
    text-align: justify;
    overflow: hidden;
    white-space: wrap;
}