#editor {
    width: 80%;
    height: 75%;
}

#editor-contents {
    padding:     10px;
    width:       100%;
    height:      100%;
    overflow:    scroll;
    font-family: Arial;
}

#editor-contents:focus {
    outline: none;
}

#preview {
    padding:     10px;
    width:       80%;
    min-height:  20%;
    font-family: Georgia;
}
