body {
background-color: grey;
}
#rightcontainer {
background-color: white;
width: 70%;
height: 40em;
margin-top: 0.5em;
}
#signupprompt {
background-color: blue;
margin-left: auto;
margin-right: auto;
border-radius: 0.5em;
width: 95%;
margin-top: 0.5em;
}
