#dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 335px;
  color: white;
  background-color: rgba(0, 0, 0, 0.78);
}

#background-img {
  -webkit-filter: blur(1px); 
  -moz-filter: blur(1px); 
  filter: blur(1px); 
}

#username {
  position: absolute;
  top: 50px;
  font-size: 64px;
}

#collections {
  position: absolute;
  top: 350px;
}

img.2 {
  width: 100px;
  height: 100px;
}
