#dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 335px;
  color: white;
  background-color: rgba(0, 0, 0, 0.78);
  text-align: center;
  overflow: hidden;
}

#background-img {
  -webkit-filter: blur(1px); 
  -moz-filter: blur(1px); 
  filter: blur(1px);
  width: 100%;
  height: 335px;
}

#username {
  margin-top: 70px;
  font-size: 48px;
  background: none !important;
}

#collections {
  margin-top: 350px;
}

#user-pane-left {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

#user-pane-right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.user-avatar.x100 {
  width: 100px !important;
  height: 100px !important;
  min-height: 100px !important;
}
