#dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 335px;
  color: white;
  background-color: rgba(0, 0, 0, 0.78);
  text-align: center;
  overflow: hidden;
}

#background-img {
  -webkit-filter: blur(1px); 
  -moz-filter: blur(1px); 
  filter: blur(1px);
  width: 100%;
  height: 335px;
}

#username {
  margin-top: 70px;
  font-size: 48px;
  background: none !important;
}

#collections {
  margin-top: 350px;
}

#user-pane-left {
  position: absolute;
  margin-right: 470px;
  width: 470px;
  height: 335px;
  text-align: right;
  line-height: 335px;
  padding-right: 50px;
}

#overlay-inner {
  width: 980px;
  margin: auto;
  height: 100%;
}

#user-pane-right {
  position: absolute;
  margin-left: 470px;
  width: 470px;
  height: 335px;
  text-align: left;
}

.user-avatar.x100 {
  margin-top: 70px;
  width: 200px !important;
  height: 200px !important;
  min-height: 200px !important;
}
