/* add !important to everything that needs to be overwritten */
body {
	background-color: rgb(40, 40, 40) !important;
}

.container.main {
	color: white !important;
	background-color: rgb(40, 40, 40) !important;
}
