/* add !important to everything that needs to be overwritten */
body {
	background-color: #282828 !important;
	display: inherit !important;
}

.container.main {
	color: white !important;
	background-color: #282828 !important;
}

h1.firstHeading, h2 {
	border-bottom: solid 1px white !important;
}

.box > h1 {
	border-top: none !important;
}

.box {
	background: #595959 !important;
	border: 1px solid #595959 !important;
	border-top: none !important;
}

.box-content {
	background: #282828 !important;
	border-top: none !important;
}

.footer {
	background-color: #151515 !important;
	color: #E8E8E8 !important;
}

select {
	background-color: black !important;
	color: grey !important;
}

/* For welcome box... */
#cats {
	-webkit-filter: brightness(60%) !important;
	-moz-filter: brightness(60%) !important;
	-o-filter: brightness(60%) !important;
	filter: brightness(60%) !important;
}

.welcome-btn:link {
	color: grey !important;
	background-color: black !important;
}

.welcome {
	background-color: #595959 !important;
}
