/* global css for ALL themes */
.postBody a {
  color: black !important;
}

.conversationList li.unread .unreadIndicator {
	display: block !important;
}

.conversationList li.unread .unreadIndicator:before {
	content: 'Unread: ';
}

.sheetOverlay {
	background: none !important;
}

#loading {
  display: none !important;
}

#hdr, #hdr-inner > ul > li > a, #hdr-inner, #forumTitle, #hdr-inner > h1 a {
  color: white !important;
}

.link-join, .link-login {
  color: white !important;
}

#hdr-inner > ul > li > a.link-newConversation.button {
  color: black !important;
}

#hdr {
	background: #659593 !important;
	position: absolute;
	top: 0;
	height: 63px !important;
}

.postBody a {
	color: rgb(0, 178, 255) !important;
}

.link-external .icon-external-link {
	display: none;
}

.postContent:before, .postContent:after {
	border-style: none !important;
}

#hdr h1 {
	max-width: 480px !important;
}

/* channel colors */
.newtopic {
	color: black !important;
	border-color: rgba(234, 234, 234, 1) !important;
	background: rgba(234, 234, 234, 1) !important;
}

a.channel.channel[data-channel=questions-and-issues] {
	color: white !important;
	border-color: rgba(250, 40, 40, 1) !important;
	background: rgba(250, 40, 40, 1) !important;
}

a.channel.channel[data-channel=announcements] {
	color: white !important;
	border-color: rgba(0, 158, 255, 1) !important;
	background:rgba(0, 158, 255, 1) !important;
}

a.channel.channel[data-channel=suggestions] {
	color: white !important;
	border-color: rgb(32, 189, 35) !important;
	background: rgb(32, 189, 35) !important;
}

a.channel.channel[data-channel=general-discussion] {
	color: white !important;
	border-color: #e000c9 !important;
	background: #e000c9 !important;
}

a.channel.channel[data-channel=development] {
	color: white !important;
	border-color: #DB631A !important;
	background: #DB631A !important;
}

.channel-all, .channelListItem {
	display: none !important;
}

img.avatar {
	border-radius: 3px !important;
	background: transparent !important;
}

span.avatar {
	background: #ededed !important;
}

.button.big, .icon-plus {
	color: black !important;
}

.button.big, .icon-plus:hover {
	color: black !important;
}

.tabs.big li.selected a, #hdr .active .popupButton, #hdr #notifications.new, .button.submit, .popupMenu li>a:hover, ul.popupMenu li.selected>a, .unreadIndicator {
	color: white !important;
	background-color: #659593;
}

blockquote {
	  background: transparent !important;
}

.channelList .channel {
	color: black !important;
}

#conversationsFilter .channels {
	padding-left: 0 !important;
}

/* mobile device support */
@media only screen and (max-device-width: 480px) {
	#back-to-the-main-site, #conversationsFilter .channels {
		display: none;
	}
	#hdr #forumTitle {
		line-height: 44px !important;
		margin-left: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		font-size: 16px;
		text-align: left;
		width: 150px;
	}
	
	#hdr {
		height: 45px !important;
	}
}

.depth0 .radio .channel {
	color: black !important;
}

#backButton {
	display: none !important;
}

.scrubberContent .popupWrapper {
	margin-top: 40px;
}

.scrubberContent .search {
	position: absolute;
	right: 0;
	transition: width 250ms;
	width: 150px;
}

.scrubberContent .search:hover, .scrubberContent .search:focus {
	width: 250px;
}

a:hover {
	text-decoration: none !important;
}

/* NAVBAR */
#hdr {
    display: none;
}

#body {
    padding-top: 50px;
}

#body-content, #conversationsFilter {
    padding-top: 0;
}

.logo-name {
    float: left;
    margin-top: 9px;
    margin-right: 5px;
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.navbar-upload .upload-icon {
    vertical-align: middle;
    float: left;
    margin-top: 10px;
    margin-right: 0.5em;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 35px;
	padding: 0 10px;
	background-color: #659593;
	z-index: 200;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a.scratch{	
	float: left;
	display: block;
	width: 150px;
	height: 35px;
	background: url("https://opensprites.org/assets/images/os-logotype.svg") left center no-repeat;
	background-size:150px 35px;
	text-indent: -99999em;
	padding: 0 2px;
	transition: 250ms background-color;
}

a.scratch:hover {
	background-color: #476866;
}

.header ul,
.footer ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.header {
	font-size: 15px;
}
.header .right {
	float: right;
}
.header li {
	float: left;
}
.header li a,
.header li span {
	display: block;
	padding: 0px 15px;
	line-height: 35px;
	text-decoration: none !important;
	cursor: pointer;
	transition: 250ms background-color;
}

.header li a,
.header li a:active,
.header li span{
	color: #fff;
}
.header li a:hover,
.header li span:hover,
#userfcttoggle.open {
	background-color: #476866;
}

.header .container {
    width: 940px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
}

.entry-header {
    margin: 0;
}

.entry-contents {
    margin-bottom: -40px;
}

h1 {
    color: grey;
}

h1.entry-header a {
    color: #333333;
}

.footer {
    background-color: #ececec;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
    color: #5f5f5f;
    text-align: center;
    margin-top: 20px;
    min-height: 150px;
    height: 120px;
    width: 100%;
}

.footer #footer-links {
    display:inline-block;
    width:150px;
    padding:25px;
    clear:both;
    text-align:left;
}

.footer #footer-about {
    display:inline-block;
    width:calc(100%-100px);
    padding:25px;
    clear:both;
    text-align:left;
}

.footer #footer-theme-toggler {
    display:inline-block;
    padding:25px;
    clear:both;
    text-align:center;
    vertical-align:middle;
}

.footer p {
    clear: both;
    font-size: 11px;
    margin: 0;
    padding: 1em 0 0;
}

.printfooter {
    display: none;
}
