@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro");

* {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

h1.entry-header a {
    color: black;
}

.login-alert {
    z-index: 9999;
    width: calc(100% - 35px);
    height: 20px;
    font-family: sans-serif;
    position: absolute;
    bottom: 5px;
    left: 10px;
    background-color: rgba(50, 255, 50, 180);
    padding: 5px;
}

.login-alert.hide {
    display: none;
    transition-duration: 0.5s;
}

#entries {
    height: 100%;
    padding-bottom: 88px;
}

code, code span {
    border-radius: 3px;
    font-family: 'Source Code Pro', monospace;
}

pre, code, p, .entry-contents h1, .entry-contents h2, .entry-contents h3, .entry-contents h4, .entry-contents h5 {
    margin: 0;
    word-wrap: break-word !important;
}

code {
    margin-top: -20px;
}
