/* global css for ALL themes */
/* *ahem* this is NOT bad design :P */
.postBody a {
  color: black !important;
}

.link-join, .link-login {
  color: white !important;
}

#hdr-inner > ul > li > a.link-newConversation.button {
  color: black !important;
}

#hdr {
	background: #659593 !important;
}

.postBody a {
	color: rgb(0, 178, 255) !important;
}

.link-external .icon-external-link {
	display: none;
}

.postContent:before, .postContent:after {
	border-style: none !important;
}

#hdr h1 {
	max-width: 480px !important;
}

/* channel colors - background should be half the border-color */
a.channel.channel[data-channel=questions-and-issues] {
	color: white !important;
	border-color: rgba(250, 40, 40, 1) !important;
	background: rgba(250, 40, 40, 1) !important;
}

a.channel.channel[data-channel=news-and-announcements] {
	color: white !important;
	border-color: rgba(0, 158, 255, 1) !important;
	background:rgba(0, 158, 255, 1) !important;
}

a.channel.channel[data-channel=suggestions] {
	color: white !important;
	border-color: rgb(32, 189, 35) !important;
	background: rgb(32, 189, 35) !important;
}

a.channel.channel[data-channel=general-discussion] {
	color: white !important;
	border-color: #e000c9 !important;
	background: #e000c9 !important;
}

img.avatar {
	border-radius: 3px !important;
	background: transparent !important;
}

span.avatar {
	background: #ededed !important;
}

.button.big, .icon-plus {
	color: black !important;
}

.button.big, .icon-plus:hover {
	color: black !important;
}

.tabs.big li.selected a, #hdr .active .popupButton, #hdr #notifications.new, .button.submit, .popupMenu li>a:hover, ul.popupMenu li.selected>a, .unreadIndicator {
	color: white !important;
	background-color: #659593;
}

blockquote {
	  background: transparent !important;
}

.channelList .channel {
	color: black !important;
}

#conversationsFilter .channels {
	padding-left: 94px !important;
}

/* mobile device support */
@media only screen and (max-device-width: 480px) {
	#back-to-the-main-site, #conversationsFilter .channels {
		display: none;
	}
	#hdr #forumTitle {
		line-height: 44px !important;
		margin-left: 0 !important;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
		font-size: 16px;
		text-align: left;
		width: 150px;
	}
}

.depth0 .radio .channel {
	color: black !important;
}

#backButton {
	display: none !important;
}

.scrubberContent .popupWrapper {
	margin-top: 40px;
}

.scrubberContent .search {
	position: absolute;
	right: 0;
	transition: width 250ms;
	width: 150px;
}

.scrubberContent .search:hover, .scrubberContent .search:focus {
	width: 250px;
}

a:hover {
	text-decoration: none !important;
}

.menu {
	position: absolute;
	top: 0;
	margin-right: 0 !important;
	right: 10px;
	margin-left: 0 !important;
}

#hdr {
	height: 63px !important;
}
