/* global css for ALL themes */
.postBody a {
  color: black !important;
}

.link-join, .link-login {
  color: white !important;
}

#hdr-inner > ul > li > a.link-newConversation.button {
  color: black !important;
}

.postBody a {
	color: rgb(0, 178, 255) !important;
}

.link-external .icon-external-link {
	display: none;
}

.postContent:before, .postContent:after {
	border-style: none !important;
}

#hdr h1 {
	max-width: 480px !important;
}

/* channel colors - background should be half the border-color */
a.channel.channel[data-channel=questions-and-issues] {
	color: white !important;
	border-color: rgba(250, 40, 40, 1) !important;
	background: rgba(250, 40, 40, 1) !important;
}

a.channel.channel[data-channel=news-and-announcements] {
	color: white !important;
	border-color: rgba(0, 158, 255, 1) !important;
	background:rgba(0, 158, 255, 1) !important;
}

a.channel.channel[data-channel=suggestions] {
	color: white !important;
	border-color: rgb(32, 189, 35) !important;
	background: rgb(32, 189, 35) !important;
}

a.channel.channel[data-channel=general-discussion] {
	color: white !important;
	border-color: #e000c9 !important;
	background: #e000c9 !important;
}

img.avatar {
	border-radius: 0 !important;
	background: transparent !important;
}

span.avatar {
	background: #ededed !important;
}

.button.big, .icon-plus {
	color: black !important;
}

.button.big, .icon-plus:hover {
	color: black !important;
}

blockquote {
	  background: transparent !important;
}
