body {
	display: block !important;
	background-color: #282828 !important;
}

.sheet, .area, .thing {
	background: #282828 !important;
}

#body, #body-content, #ftr, #ftr-content {
	background-color: #282828 !important;
	color: white !important;
}

.list>li:hover {
	background-color: #171717 !important;
}

.conversationList .title a, .conversationList .unread .title a, .action .name, .action a, .action strong, .postHeader h3, .postHeader h3 a, .button, .button i, .button:hover, #hdr-inner>a, #hdr-inner>h1 a, #hdr-inner>ul>li>a, #hdr, .tabs li.selected a, .channelList .channel, #conversationTitle a, #pluginList>li, #skinList>li, #languageList>li, .memberList strong a, .scrubber li.selected>a, .scrubber li ul li.selected a, a
{
	color: white !important;	
}

.conversationList .col-channel a {
	color: black !important;
}

.tabs .pathItem a:first-child {
	color: black !important;
}
